{% extends "base.html.twig" %}
{% block title %}
Checkout
{% endblock %}
{% block body %}
<!-- START SECTION BREADCRUMB -->
<section class="breadcrumb_section page-title-light background_bg overlay_bg_blue_70" data-img-src="{{ asset('deco/assets/images/breadcrumb_bg3.jpg')}}">
	<div class="container">
    	<div class="row align-items-center">
        	<div class="col-sm-12 text-center">
            	<div class="page-title">
            		<h1>Checkout</h1>
                </div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BREADCRUMB -->

<!-- START SECTION CHECKOUT -->
<section>
    <div class="container">
    	<div class="row">
        	
        </div>
        
        <div class="row">
        	<div class="col-12">
            	<div class="xs_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="heading_s2">
            		<h5>{% trans %}Your Orders{% endtrans %}</h5>
                </div>
                <div class="table-responsive order_table">
                	<table class="table table-bordered">
                    	<thead>
                        	<tr>
                                <th>{% trans %}Product{% endtrans %}</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if cartData is defined %}
                            {% for item in cartData %}
                                
                                <tr>
                                    <td>{{item.product.name}} <span class="product-qty">x {{item.quantity}}</span></td>
                                    <td>${{item.product.price * item.quantity}}</td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                            
                        </tbody>
                        <tfoot>
                        	<tr>
                            	<td>{% trans %}SubTotal{% endtrans %}</td>
                                {% if subtotal is defined %}
                                
                                    <td>$ {{ subtotal }}</td>
                                {% else %}
                                    
                                    <td>$ {{ 00 }}</td>
                                {% endif %} 
                            </tr>
                        	<tr>
                            	<td class="product-subtotal">Total</td>
                                {% if total is defined %}
                                    
                                    <td class="product-subtotal">$ {{total}} </td>
                                 {% else %}
                                    <td class="product-subtotal">$ {{00}} </td>
                                    
                                {% endif %}    
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="small_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="payment_method">
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" value="option3" checked="">
                        <label class="form-check-label" for="exampleRadios3"> {% trans %}Direct Bank Transfer{% endtrans %}</label>
                        <p data-method="option3" class="payment-text">{% trans %}Bank info{% endtrans %} </p>
                    </div>
                    <div class="custome-radio">
                        <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios4" value="option4">
                        <label class="form-check-label" for="exampleRadios4"> {% trans %}Check Payment{% endtrans %}</label>
                        <p data-method="option4" class="payment-text">{% trans %}Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.{% endtrans %}</p>
                    </div>
                    <div class="custome-radio">
                        <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios5" value="option5">
                        <label class="form-check-label" for="exampleRadios5">{% trans %}Paypal{% endtrans %}</label>
                        <p data-method="option5" class="payment-text">{% trans %}Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.{% endtrans %}</p>
                    </div>
                </div>
                <a href="{{ path('commit') }}" class="btn btn-primary">{% trans %}Place Order{% endtrans %}</a>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CHECKOUT -->
    
{% endblock %}