{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1> <section class="breadcrumb_section page-title-light background_bg bg_fixed overlay_bg_blue_70" data-img-src="{{asset('deco/assets/images/blue5.jpg')}}"> 
	<div class="container">
    	<div class="row align-items-center">
        	<div class="col-sm-12 text-center">
            	<div class="page-title">
                    <h2><strong><div class="p-3 mb-2 bg-light text-dark">CATEGORIES</div></strong></h2>
                </div>
            </div>
        </div>
    </div>
</section></h1>


<section class="container">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>

            <tr>
                <th>Nom de la Catégorie</th>
                <td>{{ category.name }}</td>
            </tr>

        </thead>
        <tbody>

        </tbody>
    </table>

    <a href="{{ path('categories_index') }}"><br>  <div class="p-3 mb-2 bg-light text-dark"><center><strong>Retourner à la liste</strong></center></div><br></a>

    <a href="{{ path('categories_edit', {'id': category.id}) }}"> <div class="p-3 mb-2 bg-light text-dark"><center><strong> Modifier </strong></center></div><br></a>
    {{ include('categories/_delete_form.html.twig') }}

</section>
{% endblock %}
