{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <section class="breadcrumb_section page-title-light background_bg bg_fixed overlay_bg_blue_70" data-img-src="{{asset('deco/assets/images/blue5.jpg')}}"> 
	<div class="container">
    	<div class="row align-items-center">
        	<div class="col-sm-12 text-center">
            	<div class="page-title">
            		<h2><strong><div class="p-3 mb-2 bg-light text-dark">UTILISATEURS</div></strong></h2>
                </div>
                {#<nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop List</li>
                  </ol>
                </nav>#}
            </div>
        </div>
    </div>
</section>

<section class = "container-fluid">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Billing</th>
                <th>Shipping</th>
                <th>Rgpd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.billing }}</td>
                <td>{{ user.shipping }}</td>
                <td>{{ user.rgpd }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}"><h2><strong><div class="p-3 mb-2 bg-dark text-light"><font size="4"> Voir </font> </div></strong></h2></a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}"><h2><strong><div class="p-3 mb-2 bg-dark text-light"><font size="4">Modifier</font></div></strong></h2></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_new') }}"><h2><strong><div class="p-3 mb-2 bg-dark text-light"><font size="4"><center>Créer Nouveau</center></font></div></strong></h2></a>

    </section>
{% endblock %}
