{% extends 'base.html.twig' %} 
{% block title %}Hello AdminController!{% endblock %} {% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
    
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>


<section class="breadcrumb_section page-title-light background_bg overlay_bg_blue_70" data-img-src="{{ asset('deco/assets/images/breadcrumb_bg3.jpg')}}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 text-center">
                <div class="page-title">
                    <h1>Menu Administration </h1>

                </div>

            </div>
        </div>
    </div>
</section>
<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow4">
                    <div class="blog_img">
                        <a href="{{path('users_index')}}">
                            <img src="{{ asset('deco/assets/images/blog_small_imgUser.jpg')}}" alt="blog_small_img2">
                        </a>
                    </div>
                    <div class="blog_content">
                        <h5 class="blog_title"><a href="{{path('users_index')}}">Mes utilisateurs</a></h5>



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow4">
                    <div class="blog_img">
                        <a href="{{path('products_index')}}">
                            <img src="{{ asset('deco/assets/images/blog_small_imgProduit.jpg')}}" alt="blog_small_img2">
                        </a>
                    </div>
                    <div class="blog_content">
                        <h5 class="blog_title"><a href="{{path('products_index')}}">{% trans %}Listes des produits{% endtrans %}</a></h5>



                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow4">
                    <div class="blog_img">
                        <a href="{{path('products_new')}}">
                            <img src="{{ asset('deco/assets/images/nouveauProduit.jpg')}}" alt="blog_small_img2">
                        </a>
                    </div>
                    <div class="blog_content">
                        <h5 class="blog_title"><a href="{{path('products_new')}}">{% trans %}Ajouter un produit{% endtrans %}</a></h5>



                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow4">
                    <div class="blog_img">
                        <a href="{{path('orders_index')}}">
                            <img src="{{ asset('deco/assets/images/commandes.jpg')}}" alt="blog_small_img2">
                        </a>
                    </div>
                    <div class="blog_content">
                        <h5 class="blog_title"><a href="{{path('orders_index')}}">{% trans %}Tous les commandes{% endtrans %}</a></h5>



                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog_post box_shadow4">
                    <div class="blog_img">
                        <a href="{{path('index')}}">
                            <img src="{{ asset('deco/assets/images/boutique.jpg')}}" alt="blog_small_img2">
                        </a>
                    </div>
                    <div class="blog_content">
                        <h5 class="blog_title"><a href="{{path('index')}}">{% trans %}Boutique{% endtrans %}</a></h5>



                    </div>
                </div>
            </div>
            



        </div>

    </div>


</section>
{% endblock %}