{% extends "base.html.twig" %}
{% block title %}JeanStore{% endblock %}


{% block body %}
    



<!-- START SECTION BREADCRUMB -->
<section class="breadcrumb_section page-title-light background_bg bg_fixed overlay_bg_blue_70" data-img-src="{{ asset('deco/assets/images/breadcrumb_bg2.jpg') }}">
	<div class="container">
    	<div class="row align-items-center">
        	<div class="col-sm-12 text-center">
            	<div class="page-title">
            		<h1>Shop List</h1>
                </div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="#">{% trans %}Home{% endtrans %}</a></li>
                    <li class="breadcrumb-item"><a href="#">{% trans %}Shop{% endtrans %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans %}Shop List {% endtrans %}</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BREADCRUMB -->

<!-- START SECTION SHOP -->
<section>
	<div class="container">
    	<div class="row">	
        	<div class="col-lg-9">
            	<div class="row align-items-center justify-content-between pb-1 mb-4">
                	<div class="col-auto">
                    	<span class="align-middle">{% trans %}Showing  {% endtrans %}{{indicateur[0]+1}} - {{indicateur[1]}} of {{indicateur[2]}} results</span>
                    </div>
                    
                </div>
                <div class="row shop_container grid_view">
                    {% for product in products %}
                    
                
                        <div class="col-lg-4 col-sm-6">
                            <div class="product">
                                <span class="pr_flash">{% trans %}Sale{% endtrans %}</span>
                                <div class="product_img">
                                
                                    <a href="{{path('image_show', {'id': product.id})}}" class="blog_link">
                                        {% if app.request.attributes.get('_route')=='index' %} 
                                            {% for image in product.images %}
            
                                            <div class="container col md5">
                                                <img src="{{asset('/uploads/' ~ image.link)}}" alt="article" width="150" , height="150"> 
                                            {# <a href="{{path('articles_delete_image',{'id':image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"> supprimer </a>                        #}
            
                                            </div>
            
                                            {% endfor %} 
                                        {% endif %}
            
                                    </a>

                
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li><a href="{{path('cart_add', {'id': product.id})}}" class="btn btn-default rounded-0">{% trans %}Add To Cart{% endtrans %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="#">{{product.name}}</a></h6>
                                    <span class="price"><del>${{ 15.00 + product.price }}</del><ins>${{product.price}}</ins></span>
                                    <div class="rating"><div class="product_rate" style="width:80%"></div></div>
                                </div>
                            </div>
                        </div>

                {% endfor %}

                </div>
                <div class="row">
                    <div class="col-12 mt-3 mt-lg-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if page == 1 %} disabled {% endif %} "><a class="page-link" href="{{path("index",{"page": page - 1} ) }}" tabindex="-1"><i class="ion-ios-arrow-thin-left"></i></a></li>
                            {% for i in 1..pages %}
                            <li class="page-item {% if page == i %} active {% endif %} "><a class="page-link" href=" {{ path("index", {"page": i}) }} ">{{i}}</a></li>
                            {% endfor %}
                           
                            <li class="page-item {% if page == pages %} disabled {% endif %}"><a class="page-link" href="{{path("index",{"page": page + 1} ) }}"><i class="ion-ios-arrow-thin-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        	<div class="col-lg-3 order-lg-first mt-5 mt-lg-0">
            	<div class="sidebar">
                	<div class="widget widget_search">
                        {{form(form) }}
                
                    </div>
                    <div class="widget widget_categories">
                    	<h5 class="widget_title">{% trans %} Categories {% endtrans %}</h5>
                        <ul class="border_bottom_dash">
                            {% for cat in categories %}
                                
                            <li><a href="#"><span class="categories_name"> {{cat.name}}</span></a></li>
                            {% endfor %}
                            
                    	</ul>
                    </div>
                   
                    <div class="widget">
                        <h5 class="widget_title">{% trans %} Recent Items {% endtrans %}</h5>
                        <ul class="recent_post border_bottom_dash list_none">
                            {% for product in newAdd %}
                                
                                <li>
                                    <div class="post_img">
                                    <a href="{{path('image_show', {'id': product.id})}}" class="blog_link">
                                    {% if app.request.attributes.get('_route')=='index' %} 
                                        {% for image in product.images %}
        
                                        <div class="container col md5">
                                            <img src="{{asset('/uploads/' ~ image.link)}}" alt="article" width="50" , height="50"> 
                                       
        
                                        </div>
        
                                        {% endfor %} 
                                    {% endif %}
        
                                </a>
                                    </div>
                                    <div class="post_content">
                                        <h6><a href="#">{{product.name}}</a></h6>
                                        <div class="product_price"><span class="price"><del> ${{35.00 + product.price}}</del><ins>$ {{product.price}}</ins></span></div>
                                        <div class="rating"><div class="product_rate" style="width:80%"></div></div>
                                    </div>
                                </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                    <div class="widget widget_tags">
                    	<h5 class="widget_title">tags</h5>
                        <div class="tags">
                        	<a href="#">{% trans %}Slim {% endtrans %}</a>
                            <a href="#">{% trans %}Fitness{% endtrans %}</a>
                            <a href="#"> {% trans %} Old school {% endtrans %}</a>

    
                        </div>
                    </div>
                    <div class="widget widget_instagram">
                    	<h5 class="widget_title">{% trans %}Instagram Feeds{% endtrans %}</h5>
                        <ul class="list_none instafeed">
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img1.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img2.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img3.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img4.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img5.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img6.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img7.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{{asset('deco/assets/images/insta_img8.jpg')}}" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION SHOP -->
{% endblock %}

