{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>
<section class="container">
    <table class="table responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>user</th>
                <th>product</th>
                <th>price</th>
                <th>Qty</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.firstname}}</td>
                <td >
                    <table>
                    {% for item in order.product %}
                     <tr>
                     <td>{{ item.name }} </td> 
                     {# </tr> #}
                    {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                    {% for item in order.product %}
                    <tr>
                     <td class="row"> {{ item.price }} </td> 
                    </tr>
                     {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                        {% for item in order.productQties %}
                        <tr>
                         <td class="row"> {{ item.quantity }} </td> 
                        </tr>
                         {% endfor %}
                        </table>
                </td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
</section>
{% endblock %}
